.search {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 25px 15px 25px;
}

.search_container {
    width: 700px;
    flex-direction: column;
    justify-content: space-around;
}